/*styling for index.html*/
   #banner {
      background-image: url('usmc7.JPG');
      height: 100%; 
      background-position: center;
      background-size: cover;
      border-bottom: 1.2px solid black;
      /*background-color: #812056;*/
      color: black;
      padding: 50px 25px;
      font-family: Montserrat, sans-serif;
      font-weight: 900;
      box-shadow: 6px 6px 6px grey;
  }
    #banner h1, #banner h2{
        text-shadow: 4px 4px 4px black; 
        color: white; 
        font-family: Catamaran,Helvetica,Arial,sans-serif; 
        font-weight: 200; 
        letter-spacing: 1px;
    }

    #developer{
        font-weight: 600; 
        color: #72727e;
        padding-right: 2em;
    }
    #sidebar{
        margin-left: 1em; 
        font-family: Montserrat, sans-serif;
        text-shadow: 2px 2px 2px gainsboro;
    }
    #subPageContent{
        color: black; 
        border-left: 1px solid grey;
    }
    ul{
        line-height: 160%;
    }

    /*styling for main.html*/
    .mainPics{
        width: 99%; 
    }
    #summary{
        font-size: 20px;
        font-family: Montserrat, sans-serif;
        line-height: 140%;
        text-shadow: 1px 2px 1px gainsboro;
    } 
    #mainHeader{
        z-index: 1; 
        position: absolute; 
        margin-left: .4em;
        margin-top: -1em;
        text-shadow: 1px 1px 2px darkgrey;
    }

    /*styling for BaseChange.html*/
    #convert{
        width: 15em; 
        display: inline;    
    }

    /*styling for CodeWord.html and NumberGuess.html*/
    #enterLetter, #enterNum{
        width: 5em; 
        display: inline;    
    }

    /*styling for SumPuzzles.html*/
    #aDiv button{
        color: white;
        border-radius: 6px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 5px 10px 5px 10px;
        box-shadow: 6px 6px 6px grey;
    }

    #aDiv h2 button{
        text-shadow: 2px 2px 2px black;
    }
    
    #aDiv h3{
        color: navy;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #aDiv h4{
        font-weight: 600;
        color: #4d4d4d;
    }
    /*styling for War.html*/
    #youCBorder, #dealerCBorder{
        border: 1px solid black; 
        border-radius: 6px; 
        margin: 0 18% 0 18%; 
        padding: 34% 0 34% 0; 
        position: relative;
    }
    #cardNumY1, #cardNumD1{
        position: absolute; 
        top: 0; 
        right: 85%;
    }
    #cardNumY2, #cardNumD2{
        position: absolute; 
        bottom: 0; 
        left: 85%; 
    }
    #roundWin{
        color: crimson;
    }
    #score, #qc{
        border: 1px solid midnightblue; 
        padding: 1em; 
        border-radius: 6px;
    }
    #yS, #dS{
        float: right;
    }
    #rtCol{
        padding-right: 3em;
        padding-top: 2em;
    }
    #mainDiv{
        margin-top: -1em;
    }
  
  @media screen and (max-width: 768px) {
    .col-sm-3{
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }