body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: darkslategray;
      background-color: #FFFBFC;
  }
    a{
        color: #3e77e9;
        font-weight: 600;
        font-stretch: expanded;
        font-size: 1.1em;
    }
	#mainTitle{
	padding-top: 30px;
	font-size: 52px;
	color: #223F75;
	text-align: center;
    text-shadow: 4px 2px 2px silver;
 }
 #main{
	padding-top: 30px;
 }
 
 h1, h2{
	color: #693880;
    font-weight: 600;
 }
    h4{
        color: #4E4B51;
        text-align: center;
        margin-top: -2em;
    }
  .navbar {
      margin-bottom: 0;
      background-color: black;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: darkmagenta !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #darkslategrey !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: darkslategrey;
  }            
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
      .siteInput{
          padding-left: .3em;
      }
      .subPage{
          display: none; 
          margin-left: auto; 
          margin-right: auto; 
          border: 1.5px solid #223F75; 
          width: 80%; 
          padding: 2em; 
          background-color: white; 
          margin-top: 2em; 
          margin-bottom: 2em;
          box-shadow: 6px 6px 4px silver;
      }
      .pageContents{
          line-height: 170%; 
          color: darkslategrey;
          font-size: 108%;
          padding: .4em;
      }
    #PTriangle{
    margin-top: .5em;
    text-align: center;
}    

    #PTriangle >label{
    width: 6%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8ECEC;
    border: solid black 1px;
    text-align: center;
    padding: .5em;
    }  
    #patternKey{
        display: none; 
        color: #B74271;
        font-weight: 600;
        padding-top: .75em;
    }
    
.column1 {
    float: right;
    width: 63%;
    padding: .5px;
}

.column2 {
    float: right;
    width: 32%;
    padding: .5px;
}    

.columnR{
    float: right;
    width: 40%;
    padding: .5px;
}
.columnL{
    float: left;
    width: 54%;
    padding: .5px;
    border-right: 1px solid black;
    padding-right: 5em;
}

/* clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 
    
#HMguessed{
    font-weight: 600; 
    font-size: 18px; 
    border: 1px solid black; 
    border-radius: 6px; 
    padding: 1em; 
    width: 30%; 
    display: none; 
    color: mediumblue;
}   
    
#HMfeedback{
    color: purple; 
    font-weight: 600; 
    font-size: 18px;
}
    #HMAnswerFormat{
        font-weight: 600; 
        font-size: 24px;
    }
    #HMPic{
        width: 180px;
        float: right;
        margin-top: -11em;
        margin-right: 5em;
    }
    #HMGetLetter{
        color: deepskyblue; 
        display: none;
    }
    #HMSubmit, #HMPlayAgain, #HMLetterGuess, .aTab{
        display: none;
    }
    #HMCelebrate{
        display: none; 
        margin-top: -4.5em;
    }
    #HMSad{
        display: none; 
        width: 20%;
    }      
    #warResults{
        margin-top: 1em;  
        font-size: 26px; 
        color: crimson; 
        font-weight: 600; 
        font-family: Arial;
    }  
    #WScore{
        width: 30%;
    }
    #war{
        padding: .5em;
    }
    #WARplayAgain{
        margin-left: .5em; 
        margin-top: 1em; 
        display: none;
    }
    #youCPic{
        display: none; 
        margin-top: -.5em;
    }
    #dealerCPic{
        display: none; 
        margin-left: 11em; 
        margin-top: -.5em;
    }
    #youLabel, #dealerLabel{
        width: 6em;
    }
    #youCBorder, #dealerCBorder{
        height: 280px; 
        width: 200px; 
        border: 1px solid black; 
        border-radius: 8px; 
        box-shadow: 4px 4px 4px darkgrey;
        padding-top: .4em;
        padding-right: .2em;
    }
    #cardNumY1{
        font-size: 36px; 
        padding-left: .3em; 
        color: red;
    }
    #cardNumY2{
        font-size: 36px; 
        padding-right: .25em; 
        margin-left: 162px; 
        padding-top: 65px; 
        color: red;
    }
    #cardNumD1{
        font-size: 36px; 
        padding-left: .3em;
    }
    #cardNumD2{
        font-size: 36px; 
        padding-right: .25em; 
        margin-left: 162px; 
        padding-top: 65px;
    }
    #youCardDisplay, #dealerCardDisplay{
        margin-top: 65px; 
        margin-left: 55px;
    }
    .cardPics{
        width: 150%; 
        margin-top: .2em; 
    }  
    
    #studyCard, #showDef{
        border: 1px solid midnightblue;
        border-radius: 6px;
        padding: 2em;
        font-weight: 600;
    } 
    #cardCounter{
        padding: .4em;
    }  
    .BDtable{
        border: 1px solid black;
    }
    #binToDec, #decToBin, #dToBPractice, #bToDPractice, #dbPractice{
        display: none;
    }
    .highlight{
        color: rebeccapurple;
        font-weight: 600;
    }
    #isBToDCorrect, #isDToBCorrect{
        color: crimson;
        font-weight: 600;
    }
    .dispOpt{
        padding: .4em;
        background-color: #CCD6DF;
        font-weight: 600;
        border-radius: 4px;
    }
    .dispOpt:focus{
        background-color: ghostwhite;
    }
#gb{
    line-height: 100%; 
    color: white;
}
.clickButton{
    height: 3.5em;
    width: 3.5em;
    font-weight: 600;
    border-radius: 6px;
    text-shadow: 4px 2px 2px black;
}
#winLose{
        margin-top: 1em; 
        margin-left: 20em; 
        font-size: 26px; 
        color: purple;
        font-weight: 600; 
        font-family: Arial;
    }  
    
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
    .siteLabel{
        padding-right: .3em;
        color: navy;
        font-weight: 600;
    }
.siteOutput{
    color: dodgerblue; 
    font-weight: 600; 
    margin-top: 1em;
}
    #ShowSum{
        font-weight: 700; 
        display: inline-block; 
        color: #993366;
        height: 6em;
        padding-top: 1em;
    }
    .hp{
        border: 1px solid #424A54; 
        padding: .5em; 
        background-color: #F4EEF4; 
        box-shadow: 6px 6px 4px silver;
        border-top: 30px solid #9F5D7B;
    }
body{
    font-weight: 600;
    min-width:1000px; /*minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;             /*IE*/
}
