.divTabSpacer {
	border-top:1px silver solid;
	width:100%;
	margin-top:-1px;
	z-index:900;
}

.divTabs {
	padding-bottom:3px;
}

.divTabs .tab {
	background-color: #8fe8e8;
	border:1px silver solid;
	border-radius:4px 4px 0 0;	
	color:black;
	padding:4px 20px 4px 20px;
	cursor:pointer;
        font-family: "Arial Narrow";
}

.divTabs .spacer {
	width:100%;
	border-bottom:1px silver solid;
}

.divTabs .active {
	background-color:white!important;
	border-bottom:1px white solid;
	font-weight:bold;
}

.tabContents{
    margin-top: 1em;
    font-family: Tahoma;
    margin-left: .5em;  
    line-height: 170%;
}

.tab-content clearfix {
    padding-top:20px;
}     
    
.aTab{
    display: none;
}    
    
.pageHeader{
    font-size:24pt; 
    font-family: "Verdana";
    margin-left: .25em;
    text-shadow: 1px 2px 2px grey;
}
    
#title{
    font-weight: 600;
    font-family: "Forte";
    font-size: 48px;
    margin-top: -.5em;
    margin-bottom: -.4em;
    color: #5C246E;
    margin-left: .25em;
}

#subtitle{
    font-family: Tahoma;
    margin-bottom: 1.75em;
    margin-left: .25em;
}   

.siteButton{
    color: white;
    background-color: cornflowerblue;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    font-weight: 600;
}
    
.siteInput{
    border-radius: 6px;
    padding: 2px 5px 2px 5px;
}
    #HMLetterGuess{
        display: none; 
        font-weight: 600; 
        font-size: 16px;
    }
    .siteLabel{
        color: deepskyblue;
        font-weight: 600;
    }
.siteOutput{
    color: dodgerblue; 
    font-weight: 600; 
    margin-top: 1em;
}
    
#EuclidAlg {
    margin-top: -12.5em; 
    margin-left: 33em;
} 
    #GCalc{
        border: 1px solid black; 
        padding: 1.5em; 
        border-radius: 6px;
        width: 32%;
    }
    
    #GaussAlg{
        position: absolute;
        margin-left: 33.5em;
        margin-top: -13em;
    }   

#FibPic{
    width: 30%; 
    margin-top: -1em; 
} 
    .mathPics{
        min-width: 220px; 
        float: right; 
        margin-right: 4em; 
        transform: rotate(5deg);
    }    
    #ShowSum{
        font-weight: 600; 
        display: inline-block; 
        color: crimson;
        height: 6em;
        padding-top: 1em;
    }
    #patternKey{
        display: none; 
        color: crimson;
    }
    #BubblePic{
        width: 20%; 
        min-width: 220px; 
        float: right; 
        margin-top: -1.8em;
    }
    #smileyPic{
        width: 20%; 
        min-width: 220px; 
        float: right; 
        margin-top: -1.9em;
        display: none;
    }
    
#HMguessed{
    font-weight: 600; 
    font-size: 18px; 
    border: 1px solid black; 
    border-radius: 6px; 
    padding: 1em; 
    width: 30%; 
    display: none; 
    color: mediumblue;
}   
    
#HMfeedback{
    color: purple; 
    font-weight: 600; 
    font-size: 18px;
}
    #HMAnswerFormat{
        font-weight: 600; 
        font-size: 24px;
    }
    #HMPic{
        width: 25%;
    }
    #HMGetLetter{
        color: deepskyblue; 
        display: none;
    }
    #HMSubmit, #HMPlayAgain{
        display: none;
    }
    #HMCelebrate{
        display: none; 
        margin-top: -4.5em;
    }
    #HMSad{
        display: none; 
        width: 20%;
    }
#WRules{
    width: 70%; 
    margin-left: 17em; 
    margin-top: -3.7em; 
    font-family: 'Verdana';
}    
    #warResults{
        margin-top: 1em; 
        margin-left: 30em; 
        font-size: 26px; 
        color: crimson; 
        font-weight: 600; 
        font-family: Arial;
    }  
    #WScore{
        margin-left: 3em; 
    }
    #WScore > table{
        border: 1px solid black; 
        border-radius: 6px; 
        padding: .4em;
    }
    #WScore > table > td{
        padding-left: 1em;
    }
    #war{
        margin-left: 14em;
        padding: 1em;
    }
    #WARplayAgain{
        margin-left: .5em; 
        margin-top: 1em; 
        display: none;
    }
    #Kpic{
        display: inline-block;
    }
    #Qpic{
        display: inline-block; 
        margin-left: 15em;
    }
    #youCPic{
        display: none; 
        margin-top: -.5em;
    }
    #dealerCPic{
        display: none; 
        margin-left: 11em; 
        margin-top: -.5em;
    }
    #youLabel, #dealerLabel{
        width: 6em;
    }
    #youCBorder, #dealerCBorder{
        height: 300px; 
        width: 200px; 
        border: 1px solid black; 
        border-radius: 8px; 
        box-shadow: 4px 4px 4px darkgrey;
    }
    #cardNumY1{
        font-size: 36px; 
        padding-left: .3em; 
        color: red;
    }
    #cardNumY2{
        font-size: 36px; 
        padding-right: .25em; 
        margin-left: 162px; 
        padding-top: 65px; 
        color: red;
    }
    #cardNumD1{
        font-size: 36px; 
        padding-left: .3em;
    }
    #cardNumD2{
        font-size: 36px; 
        padding-right: .25em; 
        margin-left: 162px; 
        padding-top: 65px;
    }
    #youCardDisplay, #dealerCardDisplay{
        margin-top: 65px; 
        margin-left: 55px;
    }
    .cardPics{
        width: 150%; 
        margin-top: .2em; 
    }
#divCalcSubTab1, #divCalcSubTab2, #divCalcSubTab3, #divCalcSubTab4, #divCalcSubTab5, #divTab2, #divGamesSubTab1, #divGamesSubTab2, #divGamesSubTab3, #divGamesSubTab4, #gcdE, #divStudyCardsSubTab1, #divStudyCardsSubTab2{
    max-width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    padding: 1em;
}

    #gcdE{
        width: 25em;
    }    
    
#developerCredit{
    font-size:18pt; 
    margin-top:60px; 
    text-align: right; 
    margin-right: 1em;
    font-family: "Vladimir Script";
    font-weight: 600;
}

#spanGamesSubTab1, #divGamesSubTab1, #divGamesSubTab2, #divGamesSubTab3, #divGamesSubTab4, #spanCalcSubTab1, #divCalcSubTab1, #divCalcSubTab2, #divCalcSubTab3, #divCalcSubTab4, #divCalcSubTab5, #spanStudyCardsSubTab1, #divStudyCardsSubTab1, #divStudyCardsSubTab2{
    margin-left: 1em
}

#PTriangle{
    margin-top: .5em;
    text-align: center;
}    

    #PTriangle >label{
    width: 6%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: lavender;
    border: solid black 1px;
    text-align: center;
    padding: .5em;
    }    
.column1 {
    float: right;
    width: 63%;
    padding: .5px;
}

.column2 {
    float: right;
    width: 32%;
    padding: .5px;
}    
    
/* clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}     
    #studyCard, #showDef{
        border: 1px solid midnightblue;
        border-radius: 6px;
        padding: 2em;
        font-weight: 600;
    } 
    #cardCounter{
        padding: .4em;
    }  
    .BDtable{
        border: 1px solid black;
    }
    #binToDec, #decToBin, #dToBPractice, #bToDPractice, #dbPractice{
        display: none;
    }
    .highlight{
        color: rebeccapurple;
        font-weight: 600;
    }
    #isBToDCorrect, #isDToBCorrect{
        color: crimson;
        font-weight: 600;
    }
    .dispOpt{
        padding: .4em;
        background-color: #CCD6DF;
        font-weight: 600;
        border-radius: 4px;
    }
    .dispOpt:focus{
        background-color: ghostwhite;
    }
#gb{
    line-height: 100%; 
}
.clickButton{
    height: 3.5em;
    width: 3.5em;
    font-weight: 600;
}
#winLose{
        margin-top: 1em; 
        margin-left: 20em; 
        font-size: 26px; 
        color: purple;
        font-weight: 600; 
        font-family: Arial;
    }  
body{
    min-width:1000px; /*minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;             /*IE*/
}
