<span class="container-fluid" ng-controller="BaseChangeCtrl">
    <h3>{{contentsHeader}}</h3>
    <br>

<button type='button' id='CP' class='btn btn-info' data-toggle='modal' data-target='#ConvertModal'>Base Change Review Examples</button>    
    
<!--html for Examples MODAL--> 
<div id="RModal">
    <div class='modal fade' id='ConvertModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog' role='document'><br><br>
        <div class='modal-content'>
            <div class='modal-header' style='background-color: #1cadc2; color: white'>
                <h3 class='modal-title' id='exampleModalLabel' style='color: white; text-align: left'>Conversion Examples</h3>
            </div>
            <div class='modal-body'>
            <h4 style="text-align: left; color: dimgray; line-height: 140%">
            <p>1.) Convert the Binary number 1101101 to its Decimal equivalent.<br>
            1101101<br>
            = (1)*2<sup>6</sup> + (1)*2<sup>5</sup> + (0)*2<sup>4</sup> + (1)*2<sup>3</sup> + (1)*2<sup>2</sup> + (0)*2<sup>1</sup> + (1)*2<sup>0</sup><br>
            = 64 + 32 + 0 + 8 + 4 + 0 + 1<br>
            = 109<br>

            <br>
            2.) Convert the Decimal number 100 to its Binary equivalent.<br>
            100 &#247 2 = 50 R0<br>
            50 &#247 2 = 25 R0<br>
            25 &#247 2 = 12 R1<br>
            12 &#247 2 = 6 R0<br>
            6 &#247 2 = 3 R0<br>
            3 &#247 2 = 1 R1<br>
            1 &#247 2 = 0 R1<br>
            Therefore 100 (decimal) = 1100100 (binary)<br>
            </h4>
            </div>
                <div class='modal-footer' style='background-color: white; border-top: 1px solid black;'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal' style="box-shadow: 4px 4px 4px grey">Close</button>
                </div>
            </div>
        </div>
    </div>  
</div> 
<!--end html for Examples MODAL-->  

    <h3 ng-model="attempts">Attempts: {{attempts}}</h3>
    <h3 ng-model="correct">Correct: {{correct}}</h3>
    <h3 ng-model="output">Number: {{output}}</h3>
    
    <label><h3 ng-model="type">Enter {{type}} Equivalent: </h3></label>
    <input type='number' id="convert" class='form-control' ng-model="userEquiv" pattern="[0-9]+" ng-pattern-restrict value='' ng-keyup="$event.keyCode == 13 && submitNG();">
    <button class='btn btn-success' ng-click="isCorrect();" ng-disabled= "disableCorrect">Correct?</button>
    <h3 ng-model="feedback">{{feedback}}</h3>
    <h3 ng-model="compare">Correct Answer: {{compare}}</h3>
</span> 