<div class="jumbotron text-center">
<h1>{{mainTitle}}</h1> 
</div>

<div id="content" class="container-fluid text-center">
<br>
<h2>{{contentsHeader}}</h2>
<br>
<div class="row">
    <h4>{{directions}}</h4>
    <br><br>
    <label><h3>Guess: </h3></label>
    <input type='number' id='guess' class='form-control' style='width: 20%; display: inline'>
    <button id='submitG' class='btn btn-primary' ng-click="">Correct?</button>
    <button id='newGame' ng-click='loadGame()' class='btn btn-primary' style='background-color: #A3206F; display: none; margin-left: 1em'>Play Again!</button>
    <br>
  </div>
</div>
