<span ng-controller="PointsCtrl">
<div id="content" class="container-fluid"> 
    <h3>{{contentsHeader}}</h3>
    <br>
    
    <div class="row text-center" id="mainDiv">
    <div class="col-sm-5" ng-model="playerA" style="float: left">
        <span>Points: {{playerA.points}}</span><br>
        <img src="{{playerA.pic}}"><br><br>
        <button class="btn btn-primary" ng-click="submit(1);">{{playerA.name}}</button>
    </div>
    <div class="col-sm-2" style="float: left">
    <br><br>
    <button class="btn btn-primary" ng-click="submit(2);">tie</button><br><br>
    <h3 ng-model="feedback" style="color: navy; font-weight: 700">{{feedback}}</h3>
    </div>
    <div class="col-sm-5" ng-model="playerB" style="float: left">
        <span>Points: {{playerB.points}}</span><br>
        <img src="{{playerB.pic}}"><br><br>
        <button class="btn btn-primary" ng-click="submit(3);">{{playerB.name}}</button>
    </div>
    </div>
    <br>
</div>    
    
</span>