<span ng-controller="TrophiesCtrl">
<div id="content" class="container-fluid">
    <h3>{{contentsHeader}}</h3>
<div class="row">
<!--html for Rules MODAL--> 
<br>
<div id="RModal">
        <div class='modal fade' id='RulesModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
        <div class='modal-dialog' role='document'><br><br>
            <div class='modal-content'>
                <div class='modal-header' style='background-color: #1cadc2; color: white'>
                    <h3 class='modal-title' id='exampleModalLabel' style='color: white; text-align: left'>Winning Combination Rules</h3>
                </div>
                <div class='modal-body'>
                <h4>
                <ol style="text-align: left; color: dimgray; line-height: 140%">
                    <li>Populate each trophy case keypad with numbers 1-3 (for the Prince of Wales Trophy), 1-4 (for the Conn Smythe Trophy) or 1-5 (for the Stanley Cup!).</li>
                    <li>Do NOT repeat a number in any row or column.</li>
                    <li>Ensure color-coded regions sum to the value specified in each key.</li>
                </ol> 
                </h4>
                </div>
                <div class='modal-footer' style='background-color: white; border-top: 1px solid black;'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal' style="box-shadow: 4px 4px 4px grey">Close</button>
                </div>
            </div>
        </div>
    </div>  
</div> 
<!--end html for RULES MODAL-->  
<div class="row" style="margin-left: 1em">
<h4>
<button type='button' id='CP' class='btn btn-info' data-toggle='modal' data-target='#RulesModal' style="margin-right: 3em">Rules</button> 
    Select a trophy:
    <button type="button" ng-click="isShowHide('va')" class="btn btn-primary">Prince of Wales Trophy</button><button type="button" ng-click="isShowHide('vb')" class="btn btn-primary">Conn Smythe Trophy</button><button type="button" ng-click="isShowHide('vc')" class="btn btn-primary">Stanley Cup</button>
</h4>
</div>

    <div id="aDiv" class="text-center" style="border-top: 1px solid black; width: 97%">
    <span ng-show="vala" class="row">
        <span class="col-sm-2">
        <h4 id="key" ng-model="easyGB1key">{{easyGB1key}}</h4>
        <h3 id="mySolution"><button ng-click="submitSolution(3)" class='btn btn-primary'>Submit My Solution</button></h3>
        </span>
        <h2 class="col-sm-5">
        <button ng-style="EasyGBRow1[$index]" ng-click = "EasyGBRow1[$index].value = clickSq(EasyGBRow1[$index].value, 3)" ng-repeat="item in EasyGBRow1 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="EasyGBRow2[$index]" ng-click = "EasyGBRow2[$index].value = clickSq(EasyGBRow2[$index].value, 3)" ng-repeat="item in EasyGBRow2 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="EasyGBRow3[$index]" ng-click = "EasyGBRow3[$index].value = clickSq(EasyGBRow3[$index].value, 3)" ng-repeat="item in EasyGBRow3 track by $index">{{item.value}}</button>
        <br>
        </h2>
        <h3 class="col-sm-5 text-left" ng-model="winLoseMessage"><u>Feedback</u>: {{winLoseMessage}}</h3>
    </span>
        
    <span ng-hide="valb" class="row">
    <span class="col-sm-2">
    <h4 ng-model="mediumGB1key">{{mediumGB1key}}</h4>
    <h3><button ng-click="submitSolution(4)" class='btn btn-primary'>Submit My Solution</button></h3>
    </span>
        <h2 class="col-sm-5">
        <button ng-style="MGBRow1[$index]" ng-click = "MGBRow1[$index].value = clickSq(MGBRow1[$index].value, 4)" ng-repeat="item in MGBRow1 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="MGBRow2[$index]" ng-click = "MGBRow2[$index].value = clickSq(MGBRow2[$index].value, 4)" ng-repeat="item in MGBRow2 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="MGBRow3[$index]" ng-click = "MGBRow3[$index].value = clickSq(MGBRow3[$index].value, 4)" ng-repeat="item in MGBRow3 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="MGBRow4[$index]" ng-click = "MGBRow4[$index].value = clickSq(MGBRow4[$index].value, 4)" ng-repeat="item in MGBRow4 track by $index">{{item.value}}</button>
        <br>
        </h2>
        <h3 class="col-sm-5 text-left" ng-model="winLoseMessage"><u>Feedback</u>: {{winLoseMessage}}</h3>            
    </span>
            
    <span ng-hide="valc" class="row">
        <span class="col-sm-2">
        <h4 ng-model="HGB1key">{{HGB1key}}</h4>
        <h3><button ng-click="submitSolution(5)" class='btn btn-primary'>Submit My Solution</button></h3>
        </span>
        <h2 class="col-sm-5">
        <button ng-style="HGBRow1[$index]" ng-click = "HGBRow1[$index].value = clickSq(HGBRow1[$index].value, 5)" ng-repeat="item in HGBRow1 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="HGBRow2[$index]" ng-click = "HGBRow2[$index].value = clickSq(HGBRow2[$index].value, 5)" ng-repeat="item in HGBRow2 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="HGBRow3[$index]" ng-click = "HGBRow3[$index].value = clickSq(HGBRow3[$index].value, 5)" ng-repeat="item in HGBRow3 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="HGBRow4[$index]" ng-click = "HGBRow4[$index].value = clickSq(HGBRow4[$index].value, 5)" ng-repeat="item in HGBRow4 track by $index">{{item.value}}</button>
        <br>
        <button ng-style="HGBRow5[$index]" ng-click = "HGBRow5[$index].value = clickSq(HGBRow5[$index].value, 5)" ng-repeat="item in HGBRow5 track by $index">{{item.value}}</button>
        <br>
        </h2>
        <h3 class="col-sm-5 text-left" ng-model="winLoseMessage"><u>Feedback</u>: {{winLoseMessage}}</h3>  
    </span>
    </div>
</div>
</div>    
    
    
</span> 